
<nav>
    <ul class ="a">
 <li><a routerLink ="/home">Home</a></li>
 <li><a routerLink ="/about">About </a></li>
 <li><a routerLink = "/location">Locations </a></li>
 <li><a routerLink ="/partners">Partners</a></li>
 <li><a routerLink ="/recipes">Recipes</a></li>
 </ul>
</nav>
<router-outlet></router-outlet>
<footer>
    <h1> Rochchester Coffee Corner Co</h1>
    <ul class ="b"> 
        
        <li><a routerLink ="/home">Home</a></li>
        <li><a routerLink ="/about">About </a></li>
        <li><a routerLink = "/location">Locations </a></li>
        <li><a routerLink ="/partners">Partners</a></li>
        <li><a routerLink ="/recipes">Recipes</a></li>
        </ul>
</footer>