
 
  html{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav a:hover {
    color: black;
    background-color: grey;
    
  }
  li {
    display: inline;
    
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .a {
    list-style-type: none;
    transform: scale(1.01);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  .active{

    background-color: burlywood;
  }
  nav a.active {
    background-color: burlywood;
  }
  footer{ background-color: black;
    color: white;
    width: auto;
    height: auto;
   bottom:0;
    transform: scale(1.01);
  }
  footer ul { margin: 0; 
    padding: 0; 
    list-style: none;
    text-decoration: none; }
  footer ul li { 
    display: inline-block; 
    margin-left: 25px; 
  }
  
  